# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Geidh.uk
email: chris@macmhicheil.uk
description: A' toirt thugaibh na naidheachdan LCDTE as ùire le fòcas àraidh air naidheachdan Albannach
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://geidh.uk" # the base hostname & protocol for your site, e.g. http://example.com
permalink: /:year/:month/:day/:title/

twitter-username: GeidhUK
instagram-username: GeidhUK

# Pagination number
plugins: [jekyll-paginate]
paginate: 10
paginate_path: /duilleag-:num/

# Build settings
markdown: kramdown
theme: jekyll-theme-cayman
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Sets the color of the header and page links
featured-color: "#7e3c8d"

# Separator to mark end of post excerpt
excerpt_separator: <!--more-->

