---
layout: default
title: Dachaigh
image: /images/banner.jpg
---

<div class="container">
  <h3>Postaichean gu lèir</h3>
    {% for post in paginator.posts %}
        <div class="row">
          <div class="col-md-3">
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="index-image"></a>
          </div>
          <div class="col-md-9">
            <h5 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
            <div class="row">
              <div class="col-md-12">
                {{ post.excerpt }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p><i class="fas fa-clock"></i> {{ post.date | date: "%Y-%m-%d" }}</p>
              </div>
              <div class="col-md-2">
                <p><i class="fas fa-book-reader"></i> <span class="reading-time" title="Estimated read time">
                {% assign words = include.content | strip_html | number_of_words %}
                {{ words | divided_by: 180 | plus: 1 }} mion.
                </span></p>
              </div>
              <div class="col-md-3">
                <p><i class="fas fa-user"></i> {{ post.author }}</p>
              </div>
              <div class="col-md-4">
                <p style="display: inline-block"><i class="fa fa-tag"></i> {% for category in post.categories %}
                  <a class="post-category-link" href="{{ site.baseurl }}/roinn-seorsa/{{ category }}">
                    #{{ category }}
                  </a>{% endfor %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-divider"></div>
    {% endfor %}
  <!-- Pagination -->
  {% include pagination.html %}
</div>
