---
layout: page
title: Lorg
permalink: /lorg/
---

<p>Tòisich a' sgrìobhadh anns a' bhogsa gu h-ìosal airson lorg sna postaichean.</p>

<!-- Insert search form (_includes/search-form.html) here -->
{% include search-form.html %}

<div class="section-divider"></div>

<h4>Na postaichean as ùire</h4>

<p>Ma tha sibh a' lorg post ùr ri leughadh, seo agaibh na postaichean as ùire anns gach roinn-seòrsa:</p>

<ul>
{% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <li><a name="{{ category | first }}">{{ category | first }}</a>
      <ul>
      {% for post in category.last limit:3 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
