---

---

@media (max-width: 767px){
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media (min-width: 768px){
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

html {
  font-size: 100%;
}

/* Set Dark Mode's text, and background colors */
html[data-theme="dark"] {
  --dark-mode-text-color: #999999;
  --dark-mode-background-color: #1a1a1a;
}

/* Check if user has dark mode enabled */
@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}

/* Set Dark Mode background color */
body {
    background-color: var(--dark-mode-background-color);
}

/* Set Dark Mode text color */
h1, h2, h3, h4, h5, h6, p, li {
  color: var(--dark-mode-text-color);
}

/* Set hyperlink color to the site's featured color */
a {
  color: {{ site.featured-color }};
}

/* Header Section */
.site-description {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

/* Content Section */

.post-title{
  margin: 10px 0px;
}

.page-content{
  margin-top: 25px;
}

.post-date, .post-category-link {
  margin-right: 8px;
}

/* Section divider allowing for more flexible styling compared to an hr line */
.section-divider {
  background: #e0e0e0;
  margin: 30px 0px;
  width: 100%;
  height: 1px;
}

.hidden-section-divider {
  margin: 30px 0px;
  width: 100%;
}

/* Images */
.index-image, .post-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.index-image{
  border: 1px whitesmoke solid;
}

.post-image{
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Related Posts */
.related{
  margin-top: 25px;
}

/* Index Pagination */
.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333333;
    }
 }

.pagination {
    text-align: center;
 }

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

/* Footer Section */
.footer{
    background-color:  {{ site.featured-color }};
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    padding: 5px 0px;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #f3f3f3;
}
