<form action="https://formspree.io/mqkzdoro" method="POST">
  <div class="form-group">
    <input class="form-control" type="text" name="Ainm" placeholder="Cuir a-steach d' ainm an seo" required><br/>
    <input class="form-control" type="email" name="Seòladh puist-d" placeholder="Cuir a-steach do sheòladh puist-d an seo" required><br/>
    <textarea class="form-control" type="text" name="Brath" rows="10" placeholder="Cuir a-steach do bhrath puist-d an seo" required></textarea><br/>
    <input class="form-control" type="hidden" name="_next" value="{{ site.baseurl }}">
    <input class="form-control" type="hidden" name="_subject" value="Brath ùr bho leughadair">
    <input class="form-control" type="submit" value="Cuir a-steach">
  </div>
</form>
