<div class="footer">
  <span class="nav-link">
    <h3>
      <a style="padding-right: 10px" href="https://www.twitter.com/GeidhUK">
        <i class="fab fa-twitter"></i>
      </a>
      <a style="padding-right: 10px" href="https://www.instagram.com/GeidhUK">
        <i class="fab fa-instagram"></i>
      </a>
      <a style="padding-right: 10px" href="https://www.facebook.com/GeidhUK">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a style="padding-right: 10px" href="https://www.youtube.com/channel/UCyjCOarZ4jwljuKTOlRzrrg">
        <i class="fab fa-youtube"></i>
      </a>
      <a style="padding-right: 10px" href="https://geidh.uk/feed">
        <i class="fa fa-feed"></i>
      </a>
      <a style="padding-right: 10px" href="https://geidh.uk/cuir-fios/">
        <i class="fas fa-envelope"></i>
      </a>
    </h3>
    <i class="fas fa-code"></i> le <i class="fas fa-heart"></i> le <a href="https://github.com/GeidhUK/GeidhUK.github.io/" title="Stòr Github Chrìstein MhicMhìcheil | Chris Mitchell's Github Repository">Crìstean MacMhìcheil</a><br/>
    <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i>
    <br/>
    <p>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="JTFV7JRS372FQ" />
        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </p>
  </span>
</div>
