<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% seo %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href={{"/css/main.css" | relative_url}} /> 
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{"/feed.xml" | relative_url }}" />
  <script src="https://kit.fontawesome.com/3bcb25d86b.js" crossorigin="anonymous"></script>
  
  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#393a65">
  <meta name="apple-mobile-web-app-title" content="An G&egrave;idheal&nbsp;&Ugrave;r">
  <meta name="application-name" content="An G&egrave;idheal&nbsp;&Ugrave;r">
  <meta name="msapplication-TileColor" content="#393a65">
  <meta name="theme-color" content="#393a65">
  
</head>
