<div class="section-divider"></div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a href="https://pinksaltire.com/" title="Seirbheis naidheachd is fiosrachaidh LGBT+ na h-Alba | Scotland's LGBT+ news and information source"><img src="{{ site.baseurl }}/images/pink_saltire_logo.jpg" class="index-image"  title="Seirbheis naidheachd is fiosrachaidh LGBT+ na h-Alba | Scotland's LGBT+ news and information source"  alt="Seirbheis naidheachd is fiosrachaidh LGBT+ na h-Alba | Scotland's LGBT+ news and information source" /></a>
    </div>
    <div class="col-3">
      <a href="http://www.lgbt.scot/" title=""><img src="{{ site.baseurl }}/images/lgbt_scot_logo.jpg" class="index-image" title="" alt=""/></a>
    </div>
    <div class="col-3">
      <a href="https://twitter.com/naidheachdanaaa" title="A' toirt thugaibh naidheachdan agus beachdan an t-saoghail sa Ghàidhlig | Bringing you world news and commentary in Gaelic"><img src="{{ site.baseurl }}/images/naidheachdan_aaa_logo.jpg" class="index-image" title="A' toirt thugaibh naidheachdan agus beachdan an t-saoghail sa Ghàidhlig | Bringing you world news and commentary in Gaelic" alt="A' toirt thugaibh naidheachdan agus beachdan an t-saoghail sa Ghàidhlig | Bringing you world news and commentary in Gaelic" /></a>
    </div>
    <div class="col-3">
      <a href="https://www.facebook.com/groups/Proisinis/?ref=group_header" title="Pròisinis: Buidheann Facebook LGDTQ+ | Pròisinis: An LGTBQ+ Facebook group"><img src="{{ site.baseurl }}/images/proisinis_logo.jpg" class="index-image" title="Pròisinis: Buidheann Facebook LGDTQ+ | Pròisinis: An LGTBQ+ Facebook group" alt="Pròisinis: Buidheann Facebook LGDTQ+ | Pròisinis: An LGTBQ+ Facebook group" /></a>
    </div>
  </div>
</div>
<div class="section-divider"></div>
