<div class="section-divider"></div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <a href="https://geidh.uk/" title="A' toirt thugaibh na naidheachdan LGDT+ as ùire"><img src="{{ site.baseurl }}/images/geidhuk-logo.jpg" class="index-image"  title="A' toirt thugaibh na naidheachdan LGDT+ as ùire"  alt="A' toirt thugaibh na naidheachdan LGDT+ as ùire" /></a>
      <br/>
      <p style="text-align: center"><a href="https://geidh.uk/" title="A' toirt thugaibh na naidheachdan LGDT+ as ùire">Geidh.uk</a></p>
      <p>A' toirt thugaibh na naidheachdan LGDT+ as ùire.</p>
    </div>
    <div class="col-4">
      <a href="https://atug.uk/" title=""><img src="{{ site.baseurl }}/images/atug-logo.jpg" class="index-image" title="" alt=""/></a>
      <br/>
      <p style="text-align: center"><a href="https://atug.uk/" title="A' toirt thugaibh na naidheachdan teicneòlais as ùire">An t-Ubhal-ghort</a></p>
      <p>A' toirt thugaibh na naidheachdan teicneòlas as ùire.</p>
    </div>
    <div class="col-4">
      <a href="https://aimsir.info/" title="A"><img src="{{ site.baseurl }}/images/aimsir-logo.jpg" class="index-image" title="" alt="" /></a>
      <br/>
      <p style="text-align: center"><a href="https://aimsir.info/" title="">Aimsir.info</a></p>
      <p></p>
    </div>
  </div>
</div>
<div class="section-divider"></div>
