<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href={{"/" | relative_url}} style="font-family: Lemonada">Criomagan</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href={{"/" | relative_url}}><i class="fa-solid fa-house-chimney"></i> <span class="sr-only">Dhachaigh</span></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <strong>Roinnean-seòrsa</strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href={{"/" | relative_url}}><strong>Naidheachd as ùire</strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/roinn-seorsa/alba"><strong>Alba</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/gaidhlig"><strong>Gàidhlig</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/an-rioghachd-aonaichte"><strong>An Rìoghachd Aonaichte</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/eirinn"><strong>Èirinn</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/an-t-saoghal"><strong>An t-Saoghal</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/dibhearsan"><strong>Dibhearsan</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/poileataigs"><strong>Poileataigs</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/slainte"><strong>Slàinte</strong></a>
          <a class="dropdown-item" href="/roinn-seorsa/teicneolas"><strong>Teicneòlas</strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/roinn-seorsa/blog"><strong>Blog</strong></a>
        </div>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href={{"/faclair-nan-geidheal/" | relative_url}} ><strong>Faclair nan Gèidheal</strong></a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href={{"/dualchas/" | relative_url}} ><strong>Dualchas</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/tachartasan/" | relative_url}} ><strong>Tachartasan</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/comhairle/" | relative_url}} ><strong>Comhairle</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/mu-ar-deidhinn/" | relative_url}} ><strong>Mu ar deidhinn</strong></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href={{"/lorg/" | relative_url}} ><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
    </ul>
  </div>
</nav>
