<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="https://angeidhealur.scot/" title="A' toirt thugaibh na naidheachdan LGDT+ as ùire"><img src="{{ site.baseurl }}/images/geidhuk-logo.jpg" class="index-image"  title="A' toirt thugaibh na naidheachdan LGDT+ as ùire"  alt="A' toirt thugaibh na naidheachdan LGDT+ as ùire" /></a>
      <br/>
      <h4 style="text-align: center"><a href="https://angeidhealur.scot/" title="A' toirt thugaibh na naidheachdan LGDT+ as ùire">An Gèidheal Ùr</a></h4>
      <p>A' toirt thugaibh na naidheachdan LGDT+ as ùire.</p>
    </div>
    <div class="col-md-4">
      <a href="https://aimsir.info/" title="A’ toirt thugaibh am fiosrachadh as ùire mun aimsir"><img src="{{ site.baseurl }}/images/aimsir-logo.jpg" class="index-image" title="aA toirt thugaibh am fiosrachadh as ùire mun aimsir" alt="A’ toirt thugaibh am fiosrachadh as ùire mun aimsir" /></a>
      <br/>
      <h4 style="text-align: center"><a href="https://aimsir.info/" title="A’ toirt thugaibh am fiosrachadh as ùire mun aimsir">Aimsir.info</a></h4>
      <p>A’ toirt thugaibh am fiosrachadh as ùire mun aimsir.</p>
    </div>
    <div class="col-md-4">
      <a href="https://dethadol.scot/" title=""><img src="{{ site.baseurl }}/images/dethadol-logo.jpg" class="index-image" title="" alt=""/></a>
      <br/>
      <h4 style="text-align: center"><a href="https://dethadol.scot/" title="Iùl-lann de thachartasan co-cheangailte ris a' Ghàidhlig no a' Ghàidhealtachd">Dè tha dol?</a></h4>
      <p>Iùl-lann de thachartasan co-cheangailte ris a' Ghàidhlig no a' Ghàidhealtachd.</p>
    </div>
  </div>
</div>
