<div class="row">
  <div class="col-md-4">
    <p><i class="fab fa-twitter"></i> <a href="https://www.twitter.com/GeidhUK">@GeidhUK</a></p>
    <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/GeidhUK">@GeidhUK</a></p>
  </div>
  <div class="col-md-4">
    <p><i class="fab fa-twitter"></i> <a href="https://www.twitter.com/MacMhicheil">@MacMhìcheil</a></p>
    <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/MacMhicheil">@MacMhìcheil</a></p>
  </div>
  <div class="col-md-4">
    <p><i class="fas fa-rss"></i> <a href="{{ site.baseurl }}/feed">RSS (Naidheachdan)</a></p>
  </div>
</div>
