---
layout: page
---
{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories[page.category].size > 0 %}
  <p>Chan eil post sam bith anns an roinn-seòrsa seo.</p>
{% endunless %}

{% for post in site.categories[page.category] %}
  <div class="row">
    <div class="col-md-3">
      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image }}" class="index-image"></a>
    </div>
    <div class="col-md-9">
      <h5 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
      <div class="row">
        <div class="col-md-12">
          {{ post.excerpt }}
          <p><a href="{{ site.baseurl }}{{ post.url }}">Leugh an-còrr</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p><i class="fas fa-clock"></i> {{ post.date | date: "%Y-%m-%d" }}</p>
        </div>
        <div class="col-md-2">
          <p><i class="fas fa-book-reader"></i> <span class="reading-time" title="Estimated read time">
          {% assign words = include.content | strip_html | number_of_words %}
          {{ words | divided_by: 180 | plus: 1 }} mion.
          </span></p>
        </div>
        <div class="col-md-3">
          <p><i class="fas fa-user"></i> {{ post.author }}</p>
        </div>
        <div class="col-md-4">
          <p style="display: inline-block"><i class="fa fa-tag"></i> {% for category in post.categories %}
            <a class="post-category-link" href="{{ site.baseurl }}/roinn-seorsa/{{ category }}">
              #{{ category }}
            </a>{% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-divider"></div>
{% endfor %}
