---
layout: page
---
{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories[page.category].size > 0 %}
  <p>Chan eil post sam bith anns an roinn-seòrsa seo.</p>
{% endunless %}

  {% for post in site.categories[page.category] %}   
  <div class="row" style="border-bottom: 1px solid whitesmoke; margin-bottom: 15px;">
    <div class="col-md-3">
      <p class="p-0 my-1 mx-0" style="text-align: right"><span class="post-meta"><small>
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%d" }}
        {% case m %}
          {% when '1' %}Am Faoilleach
          {% when '2' %}An Gearran
          {% when '3' %}Am Màrt
          {% when '4' %}An Giblean
          {% when '5' %}An Cèitean
          {% when '6' %}An t-Ògmhios
          {% when '7' %}An t-Iuchar
          {% when '8' %}An Lùnastal
          {% when '9' %}An t-Sultain
          {% when '10' %}An Dàmhair
          {% when '11' %}An t-Samhain
          {% when '12' %}An Dùbhlachd
        {% endcase %}
        {{ post.date | date: "%Y" }}</small></span></p>
    </div>
    <div class="col-md-9">
      <p><strong><a href="{{site.baseurk}}{{ post.url }}">{{ post.title }}</a></strong></p>
    </div>
  </div>
  {% endfor %}