---
layout: default
---
<div class="container">
  <div class="post">
    <div class="row">
      <h3 class="post-title">{{ page.title }}</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        {% if page.image-caption %}
        <figure>
          <img src="{{ page.image }}" class="post-image">
          <figcaption class="text-muted" style="text-align: right; margin-top: -25px"><small><a href="{{ page.image-licence }}">{{ page.image-caption }}</a></small></figcaption>
        </figure>
        {% else %}
          <img src="{{ page.image }}" class="post-image">
        {% endif %}
        <p><strong>Foillsichte</strong></p>
        <p class="post-date text-muted">
          {{ page.date | date: "%Y-%m-%d" }}
        </p>
        <p><strong><i class="fa fa-tag"></i> Roinnean-seòrsa</strong></p>
        <ul>
          {% for category in page.categories %}
            <li>
              <a class="post-category-link" href="{{ site.baseurl }}/roinn-seorsa/{{ category }}">
                #{{ category }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>
    </div>
    <div class="section-divider"></div>
      <!-- Display Disqus Comments Section -->
      {% include comments.html %}
    <div class="section-divider"></div>
      <!-- Next/Previous Post Nagivation -->
      {% include post-nav.html %}
    <div class="section-divider"></div>
      <!-- Related Posts Section -->
      {% include related.html %}
  </div><!-- End post container -->
</div><!-- End grid container -->
