---
layout: default
---
<div class="container">
  <div class="post">
    <div class="row">
      <div class="col-md-12">
        <h3 class="post-title">{{ page.title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {% if page.image-caption %}
        <figure>
          <img src="{{ page.image }}" class="post-image">
          <figcaption class="text-muted" style="text-align: right; margin-top: -25px"><small><a href="{{ page.image-licence }}">{{ page.image-caption }}</a></small></figcaption>
        </figure>
        {% else %}
          <img src="{{ page.image }}" class="post-image">
        {% endif %}
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p><i class="fas fa-clock"></i> {{ page.date | date: "%Y-%m-%d" }}</p>
      </div>
      <div class="col-md-2">
        <p><i class="fas fa-book-reader"></i> <span class="reading-time" title="Estimated read time">
        {% assign words = include.content | strip_html | number_of_words %}
        {{ words | divided_by: 180 | plus: 1 }} mion.
        </span></p>
      </div>
      <div class="col-md-3">
        <p><i class="fas fa-user"></i> {{ page.author }}</p>
      </div>
      <div class="col-md-5">
        <p style="display: inline-block"><i class="fa fa-tag"></i> {% for category in page.categories %}
          <a class="post-category-link" href="{{ site.baseurl }}/roinn-seorsa/{{ category }}">
            #{{ category }}
          </a></p>
        {% endfor %}
      </div>
    </div>
    <div class="section-divider"></div>
      {% include post-nav.html %}
    <div class="section-divider"></div>
      {% include related.html %}
    <div class="section-divider"></div>
      {% include comments.html %}
    <div class="section-divider"></div>
  </div>
</div>
